/* header{
  height: 100px;
  background-color: black;
} */

.header-top{
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 15px;
  height: 35px;
}

.fc-black{
  color: black !important;
}

.header-bottom a:hover{
  color: #0070D1 !important;
}


.header-bottom{
  font-size: 18px;
}

.fc-navbar-left li{
  padding: 10px;
}

.header-top img{
  height: 18px;
}

.fc-navbar-nav{
  width: 100%;
}

.fa-search{
  font-size: 20px;
}
