
.fc-black{
  color: black !important;
}

.fc-white{
  color: white !important;
}

.fc-blue{
color: #0070D1;
}

.header-top{
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 15px;
  height: 35px;
}

.header-bottom a:hover{
  color: #0070D1 !important;
}

.header-bottom{
  font-size: 18px;
}

.fc-navbar-left li{
  padding: 10px;
}

.header-top img{
  height: 18px;
}

.fc-navbar-nav{
  width: 100%;
}

.fa-search{
  font-size: 20px;
}

/* FINE HEADER */

.fc-home-page{
  min-height: 75vh;
  background-image: url(../img/jumbo-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top;
}

.fc-text-container{
 display: flex;
 min-height: 75vh;
 width: 360px;
 padding-bottom: 60px;
}

.fc-returnal-logo img{
  width: 100%;
}

.fc-home-descr{
  padding: 25px 0;
  color: white;
}

.fc-title-home{
  padding-top: 25px;
  color: white;
}

.fc-bg-red{
  background-color: #CD3D0F !important;
  color: white;
}

.fc-box-position{
  position: relative;
}

.fc-box-listing-home, .fc-box-listing-sec-jumbo{
  margin-bottom: 20px;
  padding: 5px;
}

.fc-box-listing-home:hover{
  position: absolute;
  top: -10px;
  left:0;
}

.fc-box-listing-home:active{
  border: 2px solid #0070D1;
  border-radius: 10px;
}

.fc-box-listing-home img, .fc-box-listing-sec-jumbo img{
  width: 100%;
  border-radius: 10px;
}

.container-listing{
  padding-top: 35px;
  padding-bottom: 15px;
}

/* FINE LISTING */

.fc-container-text-console h2{
 font-size: 40px;
}

.fc-container-text-console p{
  font-size: 20px;
 }

 .fc-container-text-console span{
   font-weight: 600;
 }

.box-console-page{
  max-width: 100%;
}

.box-console-page-text{
  max-width: 550px;
}

.box-console-page p{
  margin: 30px 0;
  font-size: 20px;
}

.fc-custom-btn-blue{
  padding: 5px 20px !important;
  font-size: 14px;
  border: none;
  background-color: #0070D1 !important;
}

.fc-custom-btn-lightgray{
  padding: 5px 20px !important;
  font-size: 14px;
  border: none;
  background-color: #D9DADC !important;
}

.box-console-page-bottom{
  height: 150px;
  padding-bottom: 50px;
  text-align: center;
  border-bottom: 2px solid transparent;
}

.box-console-page-bottom:hover{
  border-bottom: 2px solid #0070D1;
}

.box-console-page-bottom img{
  height: 100%;
}

.fc-console{
  margin-top: 20px;
}

.box-console-page img{
  width: 100%;
}

.fc-bottom-list-product{
  margin-top: 50px;
}

/* FINE CONSOLE */

.fc-second-jumbo{
  min-height: 75vh;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top;
  margin-top: 30px;
}

.fc-listing-second-jumbo{
  background-color: #1F1F1F;
}

.fc-it-takes-two-logo img{
  margin-top: 70px;
  width: 60%;
}

.fc-listing-second-jumbo h3{
  padding-top: 20px;
}

.fc-box-listing-sec-jumbo p{
  font-size: 18px;
}

.fc-esplora-playstation{
  margin-top: 20px;
}

/* FINE SECOND JUMBO */

.fc-container-text-esplora{
  margin: 0 auto;
  padding-bottom: 20px;
}

.fc-container-text-esplora h2{
  padding-top: 20px;
}

.fc-box-col-esplora{
  margin-top: 10px;
}

.fc-box-col-esplora img{
  width: 100%;
}

.fc-box-col-esplora p{
  font-size: 18px;
}

.fc-banner-plus-now{
  height: 500px;
  background-color: #BEBCBB;
  margin-top: 30px;
}

.fc-box-col-plus-left{
  width: 90%;
}

.fc-box-col-plus-left p{
  font-size: 14px;
  padding: 15px 0;
}

.container-description{
  min-height: 60px;
}

.container-img-plus-logo img{
  width: 100%;
}

.fc-box-col-plus{
  height: 500px;
}

.fc-box-col-plus img{
  height: 100%;
}

/* FINE ESPLORA */

.fc-bg-darkblue{
  background-color: #161C3B;
}

.fc-discount-playstation{
  margin-top: 20px;
}

/* FINE SCONTI, UTILIZZATE LE STESSE CLASSI DI ESPLORA */


/* .box-social-icon{
 max-width: 100px;
} */

.box-social-icon img{
  width: 100%;
}

.social-title{
  padding-top: 30px;
  padding-bottom: 70px;
}



@media (max-width:768px){

  .fc-container-text-console{
    text-align: center;
    margin-top: 15px;
  }

  .fc-container-text-console h2{
    font-size: 30px;
   }
   
   .fc-container-text-console p{
     font-size: 16px;
    }

    .box-console-page-bottom{
      text-align: left;
    }

    .fc-box-col-plus img{
      display: none;
    }

    .fc-box-col-plus-left{
      padding-top: 20%;
    }
}